@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.App {
  width: 700px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  color: #483d3d;
}

.h-text {
  font-size: 2rem;
  font-weight: bolder;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #eaebef;
  border-radius: 50%;
  color: #70747a;
  font-size: 12px;
  font-weight: 600;
}

.line {
  display: inline;
  align-self: center;
  width: 32px;
  height: 2px;
  background-color: #eaebef;
}

a{
  text-decoration: none;
  color: none;
}

a:-webkit-any-link {
  color: white;
}

.bg-purple{
  background-color: #6d28d9;
  color: white;
}

.m-container {
  width: 100%;
  margin-top: 3.7rem;
}

.field1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line1 {
  font-size: 40px;
  font-weight: 700;
}

.line2 {
    font-size: 18px;
    color: #70747a;
    font-weight: 500;
    line-height: 2.5;
}

.field2 {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0 auto;
}

.name {
  margin-top: 21px;
  font-size: 13px;
  font-weight: 600;
  color: #444343;
}

input {
  border-radius: 5px;
  border-color: #eaebef;
  border-style: none;
  border: 2px solid #eaebef;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  color: #b3b8bf;
  margin-top: 5px;
}

input.input1{
  width: 30%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  background-color: #e3e3e3;;
}

input.input2{
  width: 70%;
  border-left: none;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

input::placeholder {
  font-weight: 600;
  color: #b3b8bf;
}

.button {
  border: none;
  font-weight: 600;
  color: white;
  background-color: #6d28d9;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-color: #eaebef;
  border-style: none;
  border: 2px solid #eaebef;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  color: white;
  margin-top: 21px;
  background-color: #6d28d9;
  cursor: pointer;
}

.box {
  display: flex;
  width: 540px;
  height: 210px;
  margin: 0 auto;
  margin-top: 20px;
  gap: 10%;
}

.box1{
  width: 45%;
  height: auto;
  border: 2px solid #eaebef;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
}



.box2{
  width: 45%;
  height: auto;
  border: 2px solid #eaebef;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
}

.true{
  border: 2px solid #6d28d9;
}

#itrue {
  color: #6d28d9;
}

#tr

.field22 {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0 auto;
}

.itik {
  width: 85px;
  margin: 0 auto;
}

.tik {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 93px;
}

.my {
  margin-top: 10px;
  font-weight: 600;
  color: #241f1f;
}

.team {
  margin-top: 6px;
  font-size: 14px;
  color: #a3a3a3;
  font-weight: 500;
}

@media screen and (max-width: 830px) {
  .App {
    width: 500px;
  }

  .line1{
    font-size: 28px;
  }

  .line2{
    font-size: 16px;
  }

  .field2{
    width: 400px;
  }

  .line{
    width: 26px;
  }

  .circle {
    height: 38px;
    width: 38px;
  }

  .box{
    width: 400px;
    height: 195px;
  }

  .logo {
    width: 49px;
  }

  .h-text {
    font-size: 1.6rem;
}
}

@media screen and (max-width: 600px)  {
  .box {
    flex-direction: column;
    height: 342px;
    gap: 25px;
  }

  .box1, .box2 {
    width: inherit;
    height: 155px;
  }
}